* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg1);
}

:root {
    --color-primary: #333;
    --color-sec: #56a5eb;
    --color-bg1: #ecf5ff;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.7rem;
    color: var(--color-sec);
    margin-bottom: 5rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
}

/* Utilities */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .container > * {
    width: 100%;
  }
